
th{
    background-color: transparent !important;
    color: #6a7282 !important;
    /* font-size: 18px; */
    text-align: center !important;
    border: none;
}
td{
    /* background-color: transparent !important; */
    border-color: #e5e7eb !important;
    text-align: center !important;
    color: var(--ParagraphColor);
}

.table-content tr:nth-child(odd){
      background-color: #202020 !important;
}
p-table ::ng-deep .p-paginator-page.p-paginator-page-selected{
        color: rgb(152, 149, 149) ;
        background-color: #e5e7eb;
}
p-table ::ng-deep .p-select{
    background-color: #1e2939;
    display: none;
}
p-table ::ng-deep .p-paginator{
      background-color: white;
      margin-top: 20px;
}